*{
    margin: 0;
    padding: 0;
}
/* logo image */
.logo img{
    height: 80px;
    border-radius: 50%;
}
/* navigation ber */
.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    position: relative;
}
/* header including navigation bar and logo */
.header{
    padding: 20px 0 20px 0;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, #662D8C, #4B0082, #000046);
}
/* to add animated line in navigation when hover */
.navbar ul li a::after{
    height: 4px;
    border-radius: 30%;
    width: 0;
    left: 0;
    top: 100%;
    content: '';
    position: absolute;
    background: #ffffff;
    transition: 0.5s;
    box-shadow: 0px 0px 8px #ffffff;
}
.navbar ul li a:hover::after{
    width: 75%;
    transform: translateX(30%);
}
/* home page styling */
.home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 530px;
}
.leftcontent{
    width: 40%;
}
.leftcontent h1{
    margin: 10px auto 10px 10px;
    font-size: 3rem;
    color: #662D8C;
}
.leftcontent h2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.leftcontent p{
    margin-top: 20px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.resume{
    height: 40px;
    border-radius: 50px;
    width: 150px;
    margin-top: 20px;
    border: 2px solid #000046;
}
.resume:hover{
    background-color: #4B0082;
    color: #ffffff;
    transition: 1s;
}
/* second button to connect with socials */
.connect{
    height: 40px;
    border-radius: 50px;
    width: 150px;
    margin-top: 20px;
    border: 2px solid #000046;
}
.connect:hover{
    color: #ffffff;
    animation: 0.5s;
    background-color: #662D8C;
}
/* button styling */
button{
    font-size: 1.2rem;
    font-weight: 550;
}
/* social icons */
.socials{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    margin-top: 20px;
}
.socials a{
    text-decoration: none;
    color: #000046;
}
.socials a i{
    border: 2px solid #000046;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials i:hover{
    color: #ffffff;
    background-color: #000046;
    box-shadow: 0px 0px 10px #000046;
}
/* vertical side menu with icons */
.sidemenu{
    display: flex;
    flex-direction: column;
    background-color: #dabeec;
    height: 220px;
    width: 40px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.sidemenu i{
    margin-top: 5px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #662D8C;
}
.sidemenu i:hover{
    background-color: #ffffff;
}
/* section2 styling */
.section2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 610px;
    background-image: linear-gradient(to right, #662D8C, #4B0082, #000046);
    color: #ffffff;
}
/* side image */
.imagelogo img{
    height: 250px;
    border-radius: 20px;
}
/* about me content a short intro */
.aboutmecontent{
    width: 40%;
}
.aboutmecontent h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    margin: 10px auto 20px 20px;
}
.aboutmecontent p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* download button */
.butt2{
    padding: 15px;
    color: #000046;
    margin-top: 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
.butt2 i{
    margin-right: 10px;
}
/* section 3 practice social icons */
.section3{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.section3 h1{
    font-size: 2.5rem;
    color: #4B0082;
    font-weight: 900;
    margin-bottom: 50px;
}
.servsec{
    display: flex;
    justify-content: space-evenly;
}
.serv1{
    background-image: linear-gradient(to right, #662D8C, #4B0082, #000046);
    color: #ffffff;
    width: 20%;
    padding: 30px 20px 30px 20px;
    border-radius: 20px;
    text-align: center;
}
.serv1 i{
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.serv1 p{
    margin-top: 15px;
    font-family: auto;
}
.project{
    margin-top: 40px;
    width: 130px;
    padding: 10px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 25px;
    cursor: pointer;
    color: #ffffff;
}
.project:hover{
    box-shadow: 0px 0px 20px #ffffff;
    color: #4B0082;
    background-color: #e1dde4;
    border: 2px solid #e1dde4;
}
/* Section 4 styling */
.section4{
    background-image: linear-gradient(to right, #662D8C, #4B0082, #000046);
    height: 100vh;
    font-family: 'poppins';
}
.skillheading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skillheading h1{
    padding: 80px;
    color: #ffffff;
}
.skiller{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.wrapper{
    width: 30%;
}
.container{
    width: 100%;
    color: #ffffff;
    padding: 50px 30px;
    box-shadow: 0 20px 30px rgba(223, 213, 213, 0.2);
}  
.container h1{
    letter-spacing: 3px;
    margin-bottom: 40px;
}
.details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}
.bar{
    padding: 8px 10px;
    margin-bottom: 10px;
    background-color: rgba(229, 217, 236, 0.2);
    border-radius: 20px;
    position: relative;
}
.bar div{
    position: relative;
    width: 0%;
    height: 3px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid rgb(21, 2, 43);
}
/* animation for skills section  */
#html-bar{
    animation: html-fills 2s forwards;
}
@keyframes html-fills{
    100%{
        width: 90%;
    }
}
#css-bar{
    animation: css-fills 2s forwards;
}
@keyframes css-fills{
    100%{
        width: 80%;
    }
}
#java-bar{
    animation: java-fills 2s forwards;
}
@keyframes java-fills{
    100%{
        width: 75%;
    }
}
#php-bar{
    animation: php-fills 2s forwards;
}
@keyframes php-fills{
    100%{
        width: 80%;
    }
}
#sql-bar{
    animation: sql-fills 2s forwards;
}
@keyframes sql-fills{
    100%{
        width: 75%;
    }
}
#word-bar{
    animation: word-fills 2s forwards;
}
@keyframes word-fills{
    100%{
        width: 85%;
    }
}
/* Section 5 POrtfolio or projects links and their discription */
.section5{
    font-family: 'poppins';
    /* height: 200vmax; */
}
.webs-link{
    border: 5px solid #4B0082;
    padding: 30px;
    border-radius: 20px;
}
.sec5heading{
    color: #000046;
    padding: 20px;
    font-family: 'poppins';
    font-size: 2rem;
    text-align: center;
}
.webs-link img{
    height: 150px;
    display: flex;
}
.showcase{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.view{
    padding: 10px 15px;
    border: 2px solid #4B0082;
    font-size: 900;
    border-radius: 25px;
    margin-top: 40px;
    color: #4B0082;
    background: transparent;
}
.repo{
    padding: 12px 20px;
    margin-left: 10px;
    border: none;
    background-color: #4B0082;
    color: #ffffff;
    margin-top: 40px;
    border-radius: 25px;
}
.second{
    margin-top: 40px;
    margin-bottom: 50px;
}
/* section 6 styling Contact me form */
.section6{
    font-family: 'poppins';
    height: 100vh;
    color: #000046;
}
.tableform{
    border: 4px solid #4B0082;
    padding: 20px;
    border-radius: 20px;
}
label{
    font-size: 1rem;
    font-weight: 500;    
}
input{
    margin-left: 10px;
    padding: 10px;
    border: 2px solid #4B0082;
    border-radius: 10px;
}
input::placeholder{
    color: #4B0082;
}
#send{
    padding: 7px 20px 7px 20px;
    background-image: linear-gradient(to right, #662D8C, #4B0082);
    color: #ffffff;
    border-radius: 25px;
    font-size: 1.3rem;
    border: none;
}
textarea{
    padding: 10px;
    border: 2px solid #4B0082;
    border-radius: 5px;
    width: 91%;
    margin-left: 10px;
}
textarea::placeholder{
    color: #4B0082;
    font-family: 'poppins';
}
.www{
    width: 91%;
}
.reach{
    border-radius: 20px;
    border: 3px solid #4B0082;
    align-content: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;
}
.reach a{
    text-decoration: none;
    color: #000046;
}
.reach i{
    font-size: 2rem;
    color: #662D8C;
}
.reach h4{
    color: #662D8C;
}
.freecontact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
/* footer styling */
.footer{
    background-image: linear-gradient(to right, #662D8C, #4B0082, #000046);
    padding: 20px;
    color: #e1dde4;
    font-family: 'poppins';
}
.ending{
    margin-left: 90px;
    font-size: 1.4rem;
}
.seclogo{
    display: flex;
    align-items: center;
    color: #dabeec;
    gap: 20px;
    border-radius: 40px;
    padding: 10px;
}
.seclogo img{
    height: 70px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 10px;
}
.mylogcon{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.secsocials{
    margin-left: 70px;
}
.secsocials a i{
    margin-left: 20px;
}
.ending table tr td a{
    color: #0a0a;
    text-decoration: none;
}
.ending table tr td a:hover{
    color: #ffffff;
    transition: 1s;
    text-decoration: underline;
}
.tabletable{
    display: flex;
}
.rights{
    text-align: center;
}